<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="广告奖励放大器"
        android:allowBackup="true">

        <!-- Xposed 模块标记 -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="看广告奖励放大器：调 eCPM 拿更多奖励" />
        <meta-data android:name="xposedminversion" android:value="54" />

        <!-- 配置界面 -->
        <activity
            android:name="com.adkiller.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>